<div class="flex flex-wrap justify-between -mx-4 mb-16">
  <div class="w-full lg:w-1/4 px-4 mb-4">
    <div
      class="w-full border-2 rounded text-center flex items-center justify-center"
    >
      <div class="p-8">
        <p class="font-bold text-2xl">
          {{ numberOfTotalRequests }}
        </p>
        <p class="text-base">Request available</p>
        <a (click)="showRequests('all')" class="text-sm" style="color: #1a57db">
          <button mat-flat-button>See all</button>
        </a>
      </div>
    </div>
  </div>
  <div class="w-full lg:w-1/4 px-4 mb-4">
    <div
      class="w-full border-2 rounded text-center flex items-center justify-center"
    >
      <div class="p-8">
        <p class="font-bold text-2xl">
          {{ numberOfPendingRequests }}
        </p>
        <p class="text-base">Pending Request</p>
        <a
          (click)="showRequests('pending')"
          class="text-sm"
          style="color: #1a57db"
        >
          <button mat-flat-button>See all</button>
        </a>
      </div>
    </div>
  </div>
  <div class="w-full lg:w-1/4 px-4 mb-4">
    <div
      class="w-full border-2 rounded text-center flex items-center justify-center"
    >
      <div class="p-8">
        <p class="font-bold text-2xl">
          {{ numberOfAssignedToMeRequests }}
        </p>
        <p class="text-base">Assigned To Me</p>
        <a
          (click)="showRequests('assignedToMe')"
          class="text-sm"
          style="color: #1a57db"
        >
          <button mat-flat-button>See all</button>
        </a>
      </div>
    </div>
  </div>
  <div class="w-full lg:w-1/4 px-4 mb-4">
    <div
      class="w-full border-2 rounded text-center flex items-center justify-center"
    >
      <div class="p-8">
        <p class="font-bold text-2xl">
          {{ numberOfAssignedToOthersRequests }}
        </p>
        <p class="text-base">Assigned To Others</p>
        <a
          (click)="showRequests('assignedToOthers')"
          class="text-sm"
          style="color: #1a57db"
        >
          <button mat-flat-button>See all</button>
        </a>
      </div>
    </div>
  </div>
</div>
