@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.mat-sort-header-arrow[style] {
  display: none;
}

.mat-sort-header-content {
  flex-grow: 1 !important;
}
